@value makerWhite, makerGrey from '../../common/colors.css';

.recommend {
  background-color: makerGrey;
  margin: 1em;
  width: 50%;
  height: 17em;
}

.illus {
  width: 11em;
}

.message {
  margin: 1em;
}

@media screen and (max-width: 700px) {
  .recommend {
    width: 100%;
  }
}
