@value makerWhite, makerGrey from '../../common/colors.css';

.recommend {
  background-color: makerGrey;
  margin: 1em;
  width: 50%;
  height: 17em;
}

.contents {
  text-align: center;
}

.illust {
  width: 14em;
}

.message {
  margin: 1em;
  font-family: "Noto Sans KR", sans-serif;
}

@media screen and (max-width: 700px) {
  .recommend {
    width: 100%;
  }
}
