@value makerWhite from '../../common/colors.css';

.container {
  display: flex;
  overflow-x: auto;
  background-color: makerWhite;
  margin: 0.5em;
}

.tempData {
  margin: 0.2em 0.3em;
  text-align: center;
}

.temp {
  display: flex;
  align-items: center;
}

.text {
  font-size: 0.8rem;
  margin: 0.2em;
  word-break: keep-all;
}

.textMin {
  font-size: 0.8rem;
  margin: 0.2em;
  word-break: keep-all;
  color: blue;
}

.textMax {
  font-size: 0.8rem;
  margin: 0.2em;
  word-break: keep-all;
  color: red;
}

.textDay {
  font-size: 0.8rem;
  margin: 0.2em;
  word-break: keep-all;
  font-weight: bold;
}
