@value makerWhite, makerGrey from '../../common/colors.css';

.menucontainer {
  position: relative;
}

.menutrigger {
  background: makerWhite;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  transition: box-shadow 0.4s ease;
  border-radius: 50%;
  width: 3rem;
}
.menutrigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.profile {
  height: 3rem;
  border-radius: 50%;
}

.menu {
  background: makerWhite;
  border-radius: 0.8em;
  position: absolute;
  top: 60px;
  right: 0;
  width: 150px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateX(20%);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(20%);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  text-align: start;
  width: 100%;
  padding: 15px 20px;
  background-color: transparent;
  outline: 0;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
}
.button:hover {
  background-color: makerGrey;
}
