.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    gap: 1.5em;
    padding: 1em 0;
}
@media screen and (max-width : 700px) {
    .container{
        grid-template-columns: 1fr;
    }
}