@value makerBlack from '../../../common/colors.css';
.user_login_find{
    display: inline-block;
    width: 5em;
    font-size: 1.5em;
}
.user_join_edit{
    display: inline-block;
    width: 5em;
    font-size: 1.2em;
}
.upload{
    display: block;
    width: 7em;
    height: 7em;
    line-height: 7em;
    text-align: center;
    border: 1px solid makerBlack;
    cursor: pointer;
}

@media  screen and (max-width:700px) {
    .upload{
        display: block;
        width: 5em;
        height: 5em;
        line-height: 5em;
        text-align: center;
        border: 1px solid makerBlack;
        cursor: pointer;
    }
}