@value makerWhite,makerBlue,makerBlack,makerDarkGrey,makerOrange from '../../common/colors.css';
.profile {
  text-align: center;
  padding: 2em;
  border-bottom: 1px solid makerBlack;
  width: 75%;
  margin: auto;
  font-family: "Noto Sans KR", sans-serif;
}
.image {
  width: 15em;
  border: 1px solid makerDarkGrey;
  border-radius: 100%;
  margin-top: 3em;
  cursor: pointer;
}
.buttons {
  text-align: center;
}
.button {
  width: 5em;
  height: 2.2em;
  margin: 1em;
  cursor: pointer;
  border: none;
  color: makerWhite;
  background-color: makerBlue;
  font-size: 1.3em;
  border-radius: 5px;
  font-family: "Noto Sans KR", sans-serif;
}
.button.clicked{
  background-color: makerOrange;
}
.button.unClicked{
  background-color: makerBlue;
}
.button.unClicked:hover{
  background-color: makerOrange;
}