.comment {
  display: flex;
  align-items: center;
  padding: 0.2em 0.5em;
}
.image {
  width: 2.3em;
  border-radius: 100%;
  margin-right: 0.5em;
}
.user {
  font-weight: bold;
  margin-right: 0.2em;
}
.message {
  word-break: break-all;
  overflow: scroll;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: "Noto Sans KR", sans-serif;
}
