@value makerWhite, makerOrange, makerBlack from '../../common/colors.css';

.header {
  display: flex;
  width: 100%;
  background-color: makerWhite;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px;
  padding: 0.5em 0;
}

.logo {
  color: makerOrange;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
}

.inputbox {
  height: 2.3rem;
  width: 15rem;
  cursor: pointer;
  font-size: 1rem;
  color: gray;
}

.inputBtn {
  width: 2.3rem;
  height: 2.3rem;
  font-size: 1.3rem;
}

.loginBtn {
  background-color: transparent;
  outline: none;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
}
.loginBtn:hover {
  color: makerOrange;
}

.divider {
  background-color: makerBlack;
  width: 100%;
  height: 1px;
  margin: auto;
}
