.container{
    width: 100%;
    height: 55%;
}
.reply{
    display: flex;
    align-items: center;
    height: 3em;
}
.image{
    width: 2.5em;
    border-radius: 100%;
}
.input{
    width: 70%;
    height: 50%;
    margin-left: 1em;
    outline-style: none;
}
.button{
    height: 63%;
    outline-style: none;
    border: 1px solid black;
    background-color:blanchedalmond;
    cursor: pointer;
}
.comment{
    height: 80%;
    overflow-y: scroll;
    padding: 0.5em 0em;
}
.comment::-webkit-scrollbar {
    border: none;
  }
