.image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    border: 1px solid lightgray;
    scroll-behavior: smooth;
    flex-flow: wrap;    
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background-color: darkblue;
}
.image::-webkit-scrollbar {
    width: 0;
    border: none;
}