.section {
  display: flex;
  flex-direction: column;
}

.weather {
  flex: 1;
  display: flex;
  width: 80%;
  height: 20rem;
  margin: auto;
}
.posts {
  flex: 1;
}

@media screen and (max-width: 700px) {
  .weather {
    flex-direction: column;
  }
}
