@value makerWhite, makerBlack from './common/colors.css';

.app {
  background-color: makerWhite;
  width: 100%;
  height: 100vh;
}

.divider {
  background-color: makerBlack;
  width: 100%;
  height: 1px;
  margin: auto;
}
